#df>div
{
  border:0 none;
  padding:0;
  display:block;
  position:relative;
  width:50px;
  height:50px;
  padding:0;
  margin:0 0 -50px;
  line-height:1em;
}

#fs1 {
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  top:20px;
  left:80px;
}

#fs2 {
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  top:20px;
  left:670px;
}

#fs3 {
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  top:470px;
  left:670px;
}

#fs4 {
  top:470px;
  left:80px;
}

#df>div>input {
  width:2em;
}
