#act.hup~#xp {
  display:none;
}

#act:not(.hup)~#hup {
  display:none;
}

#act:not(.huangp)~#xp>#huangp {
  display:none;
}

#act.huangp~#xp>#xz, #act.huangp~#xp>#pc>#dcm {
  display:none;
}
