#pc {
  display:block;
  position:static;
  float:none;
  width:800px;
  height:960px;
  top:50px;
  margin:550px 0 -1510px 0;
}

#pc1, #pc2, #pc3, #pc4
 {
  border:0 none;
  padding:0;
  display:block;
  position:relative;
  width:300px;
  height:240px;
  padding:0;
  margin:0;
  padding:15px 5px;
}

#pc1>div, #pc2>div, #pc3>div, #pc4>div
{
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  float:right;
  margin:-15px -6px 0 0;
}

#pc1 {
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  top:-420px;
  left:60px;
}

#pc2 {
  top:-740px;
  left:260px;
}

#pc3 {
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  top:-1000px;
  left:430px;
}

#pc4 {
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  top:-1220px;
  left:230px;
}

#pc>div:empty+div:empty+div:empty+div:empty+#dcm {
  display:none;
}

#sp>div:not(:empty)~#dcm {
  display:inline-block;
}

#dcm {
  position:relative;
  top:-1420px;
  left:345px;
  padding:16px 0;
  height:18px;
}

#dcm>input {
  width:1em;
}

#dcm>div {
  margin:-16px 0;
}
