@charset "utf-8";
/* CSS Document */

#sp1, #sp2, #sp3, #sp4
 {
  border:0 none;
  padding:0;
  display:block;
  position:relative;
  width:530px;
  height:60px;
  padding:0;
  margin:0 0 -60px 0;
}

#sp1 {
  -moz-transform:rotate(90deg);
  top:240px;
  left:-215px;
}

#sp2 {
  -moz-transform:rotate(180deg);
  top:20px;
  left:135px;
}

#sp3 {
  -moz-transform:rotate(270deg);
  top:240px;
  left:485px;
}

#sp4 {
  top:460px;
  left:135px;
}

#sp>.p0>:nth-child(14),
#sp>.p1>:nth-child(11),
#sp>.p2>:nth-child( 8),
#sp>.p3>:nth-child( 5),
#sp>.p4>:nth-child( 2)
{
  margin-left:16px;
}

#sp>.p1>:nth-child(n+12),
#sp>.p2>:nth-child(n+9),
#sp>.p3>:nth-child(n+6),
#sp>.p4>:nth-child(n+3)
{
  margin-left:-8px;
}

#sp>.p1>:nth-child(3n+12),
#sp>.p2>:nth-child(3n+9),
#sp>.p3>:nth-child(3n+6),
#sp>.p4>:nth-child(3n+3)
{
  margin-left:16px !important;
}


#act.p4~#sp>#sp4.p0>div:hover,
#act.p4~#sp>#sp4.p1>div:nth-last-child(n+4):hover,
#act.p4~#sp>#sp4.p2>div:nth-last-child(n+7):hover,
#act.p4~#sp>#sp4.p3>div:nth-last-child(n+10):hover,
#act.p4~#sp>#sp4.p4>div:nth-last-child(n+13):hover
{
  background-position:0 0;
  cursor:pointer;
}

#sp>:not(#sp4):not(.xs).p0>div:not(.z9),
#sp>:not(#sp4):not(.xs).p1>div:not(.z9):nth-last-child(n+4),
#sp>:not(#sp4):not(.xs).p2>div:not(.z9):nth-last-child(n+7),
#sp>:not(#sp4):not(.xs).p3>div:not(.z9):nth-last-child(n+10),
#sp>:not(#sp4):not(.xs).p4>div:not(.z9):nth-last-child(n+13)
{
  background-image:url("../tp/z/8.png");
}

#act:not(.p4)~#xp>#xz {
  display:none;
}
#act.p4~#xp>#xz {
  display:inline-block;
}

#sp>div>div.g2 {
  display:inline;
}
#sp>div>div.g2>div:first-child {
  margin-left:-11px;
}
#sp>div>div.g2>div:nth-child(2) {
  margin-left:-19px;
}
#sp>div>div.g2+div {
  margin-left:-19px !important;
}