#xzm {
  display:block;
  left:80px;
  position:relative;
  top:425px;
  width:580px;
  height:32px;
  margin:0 0 -32px;
  text-align:right;
}

#xzm>button {
  height:28px;
  padding:0 8px;
  text-align:center;
  border:1px solid #FFF;
  margin:0 -1px 0 0;
  font-size:18px;
}

#xzm>button:hover {
  cursor:pointer;
}

#xzm>button[disabled] {
  display:none;
}
